.modal{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:  3;
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index:  2;
        content: "";
        background-color: white;
    }
    .container{
        z-index: 4;
        .menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 45px 30px 0 30px;
            .item{
                text-align: center;
                .text{
                    font-size: 26px;
                    line-height: 2.5;
                    text-decoration-line: none;
                    color: black;
                    border-bottom: 1px solid transparent;
                    &:hover{
                        border-bottom: 1px solid rgb(0, 0, 0);
                    }
                }
            }
        }
        .follow{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 40px 30px 0 30px;
            .message{
                text-align: center;
                line-height: 3.0;
                align-items: center;
            }
            .icons{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 0 850px;

                .icon{
                    text-align: center;
                    margin-top: 3%;
                    &:hover{
                        -webkit-animation-duration: 0.1s;
                        -webkit-animation-name: flash;
                        animation-duration: 0.1s;
                        animation-name: flash;
                        }
                    @-webkit-keyframes flash {
                        0% {
                        opacity: 1;
                        }
                        100% {
                        opacity: 0;
                        }
                    }
                    @keyframes flash {
                        0% {
                        opacity: 1;
                        }
                        100% {
                        opacity: 0;
                        }
                    }
                    .img{
                        width: 32px;
                        margin: 0 4px;
                    }
                }
            }
        }
    }
}
