@import "./styles/variables";
.container{
    width: calc(100% - 70px);
    max-width: 1080px;
    margin: $margin;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 768px) {
        width: calc(100% - 60px);
        max-width: 700px;
    }
    .title{
        text-align: left;
        font-size: 30px;
        padding-top: 155px;
        @media screen and (max-width: 768px) {
            font-size: 27px;
        }
    }
    .overview{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 100px;
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            margin-top: 38px;
        }
    }
}
