.container{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .titleLeft{
        display: flex;
        margin-left: 3%;
        justify-self: start;
        align-items: center;
        .title{
            width:100%;
        }
    }
    .titleRight{
        display: flex;
        padding-right: 3%;
        justify-self: end;
        align-items: center;
        text-align: justify;
    }
}