.container{
    display: flex;
    padding: 5% 20% 4% 20%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // @media screen and (max-width: 768px) {
    //     display: flex;
    //     flex-direction: column;
    //     padding: 10% 20%;
    // }

    .item{
        display: flex;
        align-items: center;
        padding-right: 26px;
        &:last-child{
            padding-right: 0;
        }
        .text{
            font-size: 28px;
            white-space: nowrap;
            font-weight: bold;
            padding-right: 10px;
        }   
        .img{
            width: 86px;
            height: auto;
        }
    }

    // .itemWe{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    //     text-align: left;
    //     padding: 0 5% 1% 32.5%;
    //     @media screen and (max-width: 768px) {
    //         padding-right: 30%;
    //     }   
        
    //     .text{
    //         font-size: 28px;
    //         white-space: nowrap;
    //     }
    //     .img{
    //         margin: 0 10%;
    //         width: 50%;
    //     }
    // }
    // .itemIntegrate{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    //     text-align: left;
    //     padding: 0 31.5% 1.3% 5%;
    //     @media screen and (max-width: 768px) {
    //         padding-left: 25%;
    //     }   
        
    //     .text{
    //         font-size: 30px;
    //         white-space: nowrap;
    //         // letter-spacing: 0.1rem;
    //     }
    //     .img{
    //         margin: 0 5%;
    //         width: 50%;
            
    //     }
    // }

}