.container{
    display: flex;
    padding: 100px 190px 80px 200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        padding: 70px 190px 50px 200px;
    }
    .item{
        display: flex;
        align-items: center;
        padding-right: 26px;
        &:last-child{
            padding-right: 0;
        }
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 100px;
            &:last-child{
                padding-left:100px;
            }
        }
        .text{
            font-size: 28px;
            white-space: nowrap;
            font-weight: bold;
            padding-right: 10px;
        }   
        .img{
            width: 86px;
            height: auto;
        }
    }
}