.container{
    display: flex;
    padding: 0 20% 15% 20%;
    flex-direction: column;
    .title{
        font-size: large;
    }
    .item{
        display: flex;
        flex-direction: row;
        margin: 5% 0;
        align-items: center;
        text-align: center;
        .img{
            width: 40%;
            flex-basis: 1;
        }
        .itemText{
            display: flex;
            flex-direction: column;
            padding: 0 0 0 5%;
            align-items: flex-start;
            justify-content: space-evenly;
            .text{
                text-align: left;
                line-height: 2.0;
                flex-basis: 2;
            }
            .textExplanation{
                text-align: left;
                font-size: 75%;
                line-height: 2.0;
            }
        }
    }
}