.container{
    display: flex;
    padding: 0 20% 15% 20%;
    flex-direction: column;
    .title{
        font-size: large;
        margin: 0 0 3% 0;
    }
    .item{
        display: flex;
        flex-direction: row;
        padding: 5% 0;
        align-items:flex-start;
        text-align: center;
        border-top: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro;
        .img{
            width: 35%;
            flex-basis: 1;
            flex-shrink: 0;
        }
        .itemText{
            display: flex;
            flex-direction: column;
            margin: 0 0 0 5%;
            align-items: flex-start;
            justify-content: space-evenly;
            .text{
                text-align: left;
                line-height: 2.0;
                font-size: 75%;
                vertical-align: top;
            }
            .textUrl{
                color: rgb(180, 180, 180);
            }
            .textUrl:hover{
                -webkit-animation-duration: 0.1s;
                -webkit-animation-name: flash;
                animation-duration: 0.1s;
                animation-name: flash;
                }
            @-webkit-keyframes flash {
                0% {
                opacity: 1;
                }
                100% {
                opacity: 0;
                }
            }
            @keyframes flash {
                0% {
                opacity: 1;
                }
                100% {
                opacity: 0;
                }
            }
        }
    }
}