.title{
    display: flex;
    padding: 0 20% 0 20%;
    .titleText{
        font-size: 100%;
    }
}
.allImage{
    padding: 5% 3%;
    .img{
        padding: 0 0.5%;
        width:25%

    }
}
.end{
    text-align: center;
    margin: 0 0 10% 0;
}