@import "./_variables";
.title{
    margin: $margin;
    width: $width;
    margin-top: 100px;
    @media screen and (max-width: 1090px) {
        // margin: $smallMargin;
        margin-top: 4%;
    }
    @media screen and (max-width: 768px) {
        display: flex;
        padding: 5% 5%;
    }
    .titleText{
        font-size: 21px;
    }
}
.allImage{
    display: block;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 32px 50px 50px 40px;
    @media screen and (max-width: 1350px) {
        //3枚
        width: 100%;
        transform: translateX(-80px);
        margin: 32px 0 50px 0;
        background-color: bisque;
    }
    @media screen and (max-width: 768px) {
        //２枚
        width: 100%;
        transform: translateX(-320px);
        margin: 32px 0 50px 0;
    }
    .move{
        display: block;
        position: relative;
        margin: 0 10px;
        @media screen and (max-width: 768px) {
            position: relative;
            margin: 0 0.5%;
        }
        .img{
            width:22.5vw;
            @media screen and (max-width: 1350px) {
                //3枚
                width:30vw;
            }
            @media screen and (max-width: 768px) {
                //２枚
                width: 40vw;
            }
        }
        .text{
            position: absolute;
            top: 3%;
            left: 4%;
            display: block;
            font-size: 18px;
            line-height: 1.4;
            color: black;
            opacity: 0;
        }
        &:hover .text{
            opacity: 1;
        }
    }
} 
.end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 116px;
    @media screen and (max-width: 768px) {
        padding: 6% 0 12% 0;
    }
    .Url{
        font-size: 23px;
        padding: 10px;
        border-bottom: 1px solid rgb(0, 0, 0);
        text-decoration-line: none;
        color: black;
        &:hover{
            border-bottom: 1px solid transparent;
        }
    }
}