@import "./variables";
.container{
    margin: $margin;
    width: $width;
    .inner{
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            padding: 0 5% 8% 5%;
        }
        .item{
            display: flex;
            flex-direction: row;
            align-items:flex-start;
            text-align: center;
            padding-top: 66px;
            padding-bottom: 47px;
            border-top: 1px solid gainsboro;
            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 5% 0;
            }
            .itemText{
                display: flex;
                flex-direction: column;
                padding-right: 40px;
                align-items: flex-start;
                justify-content: space-evenly;
                @media screen and (max-width: 768px) {
                    padding: 0;
                }
                .text{
                    text-align: left;
                    font-size: 20px;
                    line-height: 1.2;
                    text-decoration:none; 
                    color: black;
                    }
                .textExplanation{
                    padding-top: 23px;
                    text-align: left;
                    font-size: 14px;
                    line-height: 2.4;
                    @media screen and (max-width: 768px) {
                        font-size: 80%;
                    }
                }
                .Url{
                    text-decoration-line: none;
                    color: black;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    text-align: center;
                    margin-top: 28px;
                    &:hover{
                        -webkit-animation-duration: 0.1s;
                        -webkit-animation-name: flash;
                        animation-duration: 0.1s;
                        animation-name: flash;
                        }
                    @-webkit-keyframes flash {
                        0% {
                        opacity: 1;
                        }
                        100% {
                        opacity: 0;
                        }
                    }
                    @keyframes flash {
                        0% {
                        opacity: 1;
                        }
                        100% {
                        opacity: 0;
                        }
                    }
                    .UrlImg{
                        width: 25px;
                        height: 20px;
                    }
                    .UrlText{
                        @media screen and (max-width: 768px) {
                            margin-top: 0;
                        }
                    }
                }
            }
            .img{
                width: 48%;
                @media screen and (max-width: 768px) {
                    width:60%;
                    margin-top: 3%;
                    text-align: center;
                }
            }
        }
    }
}